.main {
  padding: 25px;
}

.heading {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 2%;
  margin: 0 0 10px;
}

.content {
  /* background-color: antiquewhite; */
  padding: 10px;
  border-radius: 2%;
  margin: 0 0 10px;
}

.footer {
  /* background-color: antiquewhite;  */
  padding: 10px;
  border-radius: 2%;
  text-align: center;
  margin: 0 0 0;
}

h1 {
  color: red;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: rgb(255, 98, 0);
  font-family: monospace, sans-serif;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}

.text {
  color: rgb(75, 53, 25);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a {
  text-decoration: underline;
  color: inherit;
}

li a:hover {
  text-decoration: none;
}